# shellcheck shell=bash
use flake

# maintain a path for RustRover rust toolchain
if [[ ! -L ".rust" || "$(readlink -f ".rust")" != "$(readlink -f "$NIX_RUST_TOOLCHAIN")" ]]; then
    ln -sf "$NIX_RUST_TOOLCHAIN" ".rust"
    echo "direnv: rust toolchain symlinked"
    echo "  $(realpath ".rust") -> ${NIX_RUST_TOOLCHAIN}"
fi
